<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Volver()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Configurar Servidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="servidor">
    <div class="imagen">
      <img src="assets/server.png" alt="Servidor"/>
    </div>

    @if(ipServidor == ""){
      <div class="alerta alerta-warn">
          <span class="alerta-icon">⚠️</span>
          <div class="alerta-texto">
              Todavia no configuraste ip de servidor. Es necesario que ingreses una para poder usar la app.
          </div>
      </div>
    }
    
    <p>Escribe la dirección ip de la máquina servidor para que la app funcione correctamente</p>
    <ion-input label="Dirección IP" label-placement="floating" fill="outline" [(ngModel)]="ipServidor" placeholder="192.168.X.X"></ion-input>

    <ion-button expand="block" color="primary" (click)="Confirmar()">
      <ion-icon name="checkmark-outline"></ion-icon>
      Confirmar
    </ion-button>
</ion-content>

