.servidor{
    p{
        margin: 6px 16px;
    }
    ion-button{
        margin: 5px 16px;
    }
}

.imagen{
    display:flex;
    justify-content: center;
    
    img{
        width: 150px;
        height: 150px;
        margin: 15px 0px;
    }
}

ion-input{
  padding: 10px 16px !important;
  background-color: var(--ion-color-light);
  margin-bottom: 15px;
}


