/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


//#region ALERTAS
/* Estilo base común */
.alerta {
  margin: 10px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 15px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 15px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  border: 1px solid transparent;
}

.alerta-icon {
  font-size: 18px;
  line-height: 1;
}

.alerta-texto {
  flex: 1;
}

/* Variante de advertencia */
.alerta-warn {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}

.alerta-warn .alerta-icon {
  color: #d39e00;
}

/* Variante informativa */
.alerta-info {
  background-color: #cce5ff;
  color: #004085;
  border-color: #b8daff;
}
//#endregion