<ion-header>
  <ion-toolbar>
    <ion-segment [value]="salonSeleccionado">
        @for (salon of salones; track $index) {
            <ion-segment-button [value]="salon.id" (click)="ObtenerMesas(salon.id!)">
                <ion-label>{{salon.descripcion}}</ion-label>
            </ion-segment-button>
        }
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid">
    <div class="card" *ngFor="let mesa of mesas" [class.ocupada]="mesa.idPedido != 0" (click)="NuevoPedido(mesa)">
      <h3>{{ mesa.codigo }}</h3>
    </div>
  </div>
</ion-content>
