<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-content class="ion-padding">
    <ion-list class="opciones-menu">
      <ion-item button (click)="ConfigurarServidor()">
        <ion-icon slot="start" name="server-outline"></ion-icon>
        <ion-label>Servidor</ion-label>
      </ion-item>

      <ion-item button (click)="CerrarSesion()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>

    <div style="position: absolute; bottom: 20px; left: 16px; right: 16px; font-size: 14px; color: gray;">
      <div>Versión: {{ versionApp }}</div>
      <div>Usuario: {{ usuario }}</div>
      <div>Cargo: {{ cargo }}</div>
    </div>
  </ion-content>
</ion-menu>


<ion-tabs id="main-content">
  <ion-tab tab="mesas">
    <app-mesas></app-mesas>
  </ion-tab>
  <ion-tab tab="pedidos">
    <app-pedidos></app-pedidos>
  </ion-tab>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button>
      <ion-menu-toggle class="btnMenu">
      <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-toggle>
      Opciones
    </ion-tab-button>
    
    <ion-tab-button tab="mesas">
      <ion-icon name="restaurant-outline"></ion-icon>
      Mesas
    </ion-tab-button>
    <ion-tab-button tab="pedidos">
      <ion-icon name="document-text-outline"></ion-icon>
      Pedidos
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

